# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints

# Environments
.env
.env.*
.venv
venv/
ENV/
env/
env.bak/
venv.bak/
.envrc
.python-version

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Type checker caches
.mypy_cache/
.pyre/
.pytype/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db